@model MarksEntryViewModel

<div class="text-danger">
    @Html.ValidationSummary()
</div>

<h2>Add Marks</h2>

<form method="post">

    <input type="hidden" asp-for="StudentID" />

    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Marks</th>
            <th>Max Marks</th>
        </tr>

        @for (int i = 0; i < Model.MarksList.Count; i++)
        {
            <tr>
                <td>
                    <input asp-for="MarksList[i].SubjectName" class="form-control" readonly />
                </td>

                <td>
                    <input asp-for="MarksList[i].MarksObtained" class="form-control" />
                </td>

                <td>
                    <input asp-for="MarksList[i].MaxMarks" class="form-control" />
                </td>

                <input type="hidden" asp-for="MarksList[i].StudentID" />
            </tr>
        }
    </table>

    <button class="btn btn-success">Save All Marks</button>

</form>