@model Student

<h2>Add Student</h2>

<form method="post">

    <div>
        Name:
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        Class:
        <select asp-for="Class" class="form-control" id="classDropdown">
            <option value="">-- Select Class --</option>
            <option value="FY">FY</option>
            <option value="SY">SY</option>
            <option value="TY">TY</option>
        </select>
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>

    <div>
        Roll No:
        <input asp-for="RollNo" class="form-control" id="rollNo" readonly />
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("#classDropdown").change(function () {
            var selectedClass = $(this).val();

            if (selectedClass !== "") {
                $.get("/Student/GetRollNo", { studentClass: selectedClass }, function (data) {
                    $("#rollNo").val(data);
                });
            } else {
                $("#rollNo").val("");
            }
        });
    </script>
}