@model Marks

<h2>Edit Marks</h2>

<form method="post">

    <input type="hidden" asp-for="MarkID" />
    <input type="hidden" asp-for="StudentID" />

    <div>
        Subject:
        <input asp-for="SubjectName" class="form-control" readonly />
    </div>

    <div>
        Marks:
        <input asp-for="MarksObtained" class="form-control" />
        <span asp-validation-for="MarksObtained" class="text-danger"></span>
    </div>

    <div>
        Max Marks:
        <input asp-for="MaxMarks" class="form-control" />
        <span asp-validation-for="MaxMarks" class="text-danger"></span>
    </div>

    <br />
    <button class="btn btn-success">Update</button>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}